@font-face {
    font-family: JumpandPlay;
    src: url('../fonts/JumpandPlay.otf') format("opentype");
}

body {
    font-family: 'JumpandPlay';
    font-size: 25px;
    color: #413a52;
    overflow: hidden;
}

.container {
    position: relative;
    height: 1080px;
    width: 1920px;
}

.limit {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 425px;
}

.hidden {
    display: none;
}

.label {
    margin-right: 10px;
}

.positioned {
    position: absolute;
    min-width: 200px;
}

.top {
    top: 18px;
    width: 100%;
}

.bottom {
    bottom: 70px;
    width: 100%;
}

.bottom .heading {
    font-size: 2rem;
    top: -80px;
    left: 240px;
}

.bottom .pre {
    top: -35px;
    left: 240px;
}

.left {
    left: 0;
}

.right {
    right: 0;
}

.middle {
    right: 50%;
}

.top .left {
    left: 5px;
}

.top .right {
    left: 1450px;
}

.bottom .left {
    left: 240px;
}

.bottom .middle {
    left: 775px;
    min-width: 400px;
}

.bottom .right {
    left: 1300px;
}
